*,
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

html, body {
    background: #fff;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #181a1b;
        color: #e8e6e3;
    }
    #btncontrols button {
        color: #fff;
        background-color: oklch(35% 0.15 86.047);
        border: 1px solid oklch(35% 0.15 86.047);
    }
    #btncontrols button:hover,
    #btncontrols button:active,
    #btncontrols button:focus {
        background-color: burlywood;
        border: 1px solid burlywood;
    }
    #btncontrols button:disabled {
        background-color: #222;
        border: 1px solid #222;
    }
}

.game {
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    top: 0;
    image-rendering: pixelated;
}

#console {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    border: 0px;
    image-rendering: pixelated;
}

#layer1 {
    position: static;
    z-index: 0;
    opacity: 1;
}

#layer2 {
    position: absolute;
    z-index: 1;
}

#spinner {
    position: absolute;
    top: 35%;
    left: 47%;
    z-index: 4;
    width: 46px;
}

#btncontrols {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 1em;
}

#btncontrols button {
    color: black;
    background-color: oklch(79.5% 0.184 86.047);
    border: 1px solid oklch(79.5% 0.184 86.047);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

#btncontrols button:hover,
#btncontrols button:active,
#btncontrols button:focus {
    background-color: burlywood;
    border: 1px solid burlywood;
}

#btncontrols button:disabled {
    background-color: oklch(70.8% 0 0);
    border: 1px solid oklch(70.8% 0 0);
    cursor: not-allowed;
}
